# LOCAL DB CONNECTION
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=steam_games_clone
DB_USER=postgres
DB_PASSWORD=postgres

# (Docker 전용) 외부 컨테이너(DB 등)와 통신하고자 할 때 사용하는 Docker 네트워크 이름 지정
DB_NETWORK_NAME=steam-spider_steam-network
